 /* global styles */
:root {
    --primary-logo-color: #03b69c;
    --secondary-logo-color: #f0fff4;
    --bg-color-1: #04619f;
    --bg-color-2: #380036;
    --header-footer-color: #1c1c1c;
    --translucent-black: rgba(0, 0, 0, 0.7);
}
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: var(--bg-color-1);
    background-image: linear-gradient(-45deg, var(--bg-color-2), var(--bg-color-1));
    background-attachment: fixed;
}
h1 {
    text-align: center;
}
h2, h3 {
    color: var(--primary-logo-color);
}
p, dl {
    line-height: 140%;
}
a:link, a:visited {
    color: var(--primary-logo-color)
}
a:focus, a:hover, a:active {
    color: var(--secondary-logo-color)
}

/* header styles */
header {
    position: sticky;
    top: 0;
    background-color: var(--header-footer-color);
    display: flex;
    flex-direction: column;
}
header img {
    max-height: 3.5em;
    padding: .25em .2em .1em;
}
header button {
    position: absolute;
    top: .66em;
    right: .5em;
    font-size: 1.2rem;
    padding: .2em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: var(--primary-logo-color);
    background-color: transparent;
    border: var(--primary-logo-color) 2px solid;
    border-radius: 4px;
}
.responsive {
    display: flex;
    flex-direction: column;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: .1em;
}
.nav-links:link, .nav-links:visited {
    color: var(--primary-logo-color);
    padding: 1.3em .8em;
    text-align: center;
}
.nav-links:focus, .nav-links:hover, .nav-links:active {
    background-color: black;
} 
header button:active, .nav-links:active {
    background-color: var(--secondary-logo-color);
}

/* footer styles */
footer {
    margin: 0;
    padding: .5em;
    text-align: center;
    font-size: smaller;
    background-color: var(--header-footer-color);
}

.content {
    max-width: 1280px;  
    margin-inline: auto;  
}

/* =============================
    Home Page
============================= */
/* welcome section styles */
#welcome {
    text-align: center;
    border-bottom: 2px white solid;
    margin: 2em .5em;
}
#welcome p {
    font-style: italic;
}
#welcome h1 {
    margin: 0;
    font-family: 'Megrim', cursive;
    font-size: 3rem;
}

/* new movies section styles */
.cards {
    background-color: var(--translucent-black);
    margin-bottom: 2em;
}
.card-img {
    max-width: 100%;
}
.card-info {
    padding: 0 .3em .1em;
    font-size: smaller;
}

/* =============================
    Get Tickets Page
============================= */
form {
    max-width: 40em;
    margin: 2em auto;
    padding-inline: .2em;
}
form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
form ul li {
    margin-block: 2em;
}
form input, form select {
    font-size: 1.2rem;
    border-radius: 5px;
    width: 100%;
}
fieldset + fieldset {
    margin-top: 2em;
}
fieldset {
    padding-inline: 5%;
    background-color: var(--translucent-black);
}
.form-buttons {
    display: flex;
    justify-content: space-between;
}
.form-buttons > * {
    flex: 0 1 48%;
    cursor: pointer;
}
input[type="date"], input[type="number"] {
    max-width: 10em;
}
.submit-button {
    background-color: var(--primary-logo-color);
    color: white;
    border: 2px solid var(--primary-logo-color);
}

/* =============================
    Now Playing Page
============================= */
.movie-cards {
    border-bottom: 2px white solid;
    background-color: var(--translucent-black);
    padding: .5em;
}
.movie-cards img{
    display: block;
    margin-inline: auto;
}
.movie-cards h3 {
    text-align: center;
}
#coming-soon h2, #coming-soon h3 {
    color: white;
    text-align: center;
}
#coming-soon h3 {
    font-size: smaller;
    margin-top: .2em;
}
.coming-soon-movies {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}
.coming-soon-movies > div {
    flex: 1 1 0;
    padding: .5em;
}
.coming-soon-movies img {
    max-width: 175px;
}

/* =============================
    Pricing Page
============================= */
table {
    border-collapse: collapse;
    margin-inline: auto;
    width: 100%;
    text-align: center;
}
thead, #surcharge-header {
    height: 4em;
    background-color: var(--translucent-black);
}
th[scope="row"] {
    height: 3em;
    background-color: var(--translucent-black);
    text-align: left;
    padding-left: .2em;
}
td {
    background-color: var(--bg-color-1);
}
tr {
    border-bottom: white solid 1px;
}
.add-info {
    background-color: var(--translucent-black);
    padding: .5em;
    margin-block: 1em;
}
.disclaimer {
    font-style: italic;
    font-size: 0.9em;
}

/* =============================
    Membership Page
============================= */
#membership-info {
    margin: .5em;
}
.tier-cards {
    background-color: var(--translucent-black);
    margin: 1em .5em;
    border-radius: 1em;
    text-align: center;
    overflow: hidden;
}
#gold-tier h2, #silver-tier h2, #bronze-tier h2 {
    margin: 0;
    color: black;
    padding: 1em;
    text-transform: uppercase;
}
#gold-tier h2 {
    background-color: #eab639;
}
#silver-tier h2 {
    background-color: #a7a4b2;
}
#bronze-tier h2 {
    background-color: #a16834;
}
.tier-img-containers {
    background-color: #f6fcff;
    text-align: center;
}
.tier-benefits {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tier-benefits li {
    text-align: center;
    padding: .5em;
    margin-inline: 1em
}
.tier-benefits li + li {
    border-top: white solid 1px;
}
.tier-prices {
    padding: .5em;
    font-weight: bold;
    text-align: center;
    background-color: var(--primary-logo-color);
}

/* =============================
    Locations Page
============================= */
#locations-content {
    background-color: var(--translucent-black);
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
#location-cards-container {
    padding: 0 .5em 1em;
}
.location-cards {
    margin-block: .5em;
    padding-inline:.5em;
    border: white solid 2px;
    border-radius: .5em;
}
.location-cards h3 {
    color: white;
}
#amenities-sidebar {
    padding: .5em;
    border-top: white solid 4px;
}
#amenities-sidebar li {
    line-height: 160%;
}

/* =============================
    Conact Us Page
============================= */
dt {
    font-weight: bold;
}
dt {
    margin-top: 1em;
}
#contact-links {
    text-align: center;
}
#contact-links a {
    font-size: 1.2em;
}
#contact-links h4 {
    margin-bottom: .2em;
}

@media screen and (min-width: 480px) {
    .cards {
        padding: .5em;
    }
    .card-info {
        padding: 0 .5em .2em;
        font-size: medium;
    }

    form input, form select {
        padding: .2em .4em;
    }
    fieldset {
        padding-inline: 10%;
    }

    .movie-cards {
        margin: 1.5em;
    }

    #pricing-container {
        padding-inline: 1em;
    }
    .add-info {
        padding: 1em 1em 1.5em;
    }

    #locations-content {
        margin-inline: 1em;
    }
    #location-cards-container {
        padding: 1.5em;
    }
    .location-cards, #amenities-sidebar {
        padding-inline: 1em;
    }
    .contact-info {
        margin: 1em;
        padding-inline: 2em;
    }
}
@media screen and (min-width: 768px) {
    p, dl {
        line-height: 160%;
    }
    h1 {
        font-size: 3rem;
    }
    #welcome {
        margin-inline: 3em;
    }
    .cards {
        box-shadow: .2em .2em .2em #222;
        border-radius: .5em;
        margin-inline: 5%;
    }

    #pricing-container {
        padding-inline: 3em;
    }
    th {
        font-size: 1.3rem;
    }
    td {
        font-size: 1.15rem;
    }
    th[scope="row"] {
        padding-left: 1em;
    }

    #locations-content {
        flex-direction: row;
        justify-content: space-evenly;
    }
    #location-cards-container {
        padding: 0 2em;
        flex: 0 1 70%;
    }
    .location-cards {
        margin-block: 2em;
    }
    #amenities-sidebar {
        border-top: none;
        border-left: white solid 4px;
        flex: 1 0 0%;
    }
    #amenities-sidebar h2 {
        text-align: center;
    }
}
@media screen and (min-width: 940px) {
    nav button {
        display: none;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header button {
        display: none;
    }
    nav ul, .responsive {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    #welcome h1 {
        font-size: 4rem;
    }
    .cards {
        display: flex;
        align-items: center;
    }
    .card-img {
        max-width: 50%;
    }
    /* make every odd card flex in the opposite direction */
    .cards:nth-child(odd) {
        flex-direction: row-reverse;
    }

    #grid-container {
        display: grid;
        grid-template-columns:  1fr min-content;
        grid-template-rows: min-content repeat(6, max-content);
        grid-auto-flow: column;
        gap: 1em;
        margin: 1em;
    }
    #grid-header {
        grid-area: 1 / 1 / 2 / -1;
    }
    #coming-soon {
        grid-area: 2 / -2 / -1 / -1;
        background-color: var(--translucent-black);
        padding-inline: .5em;
    }
    .movie-cards {
        background-color: var(--translucent-black);
        margin: 0;
    }
    .movie-cards h3 {
        text-align: left;
    }
    .movie-cards img {
        float: left;
        max-width: 200px;
        margin-right: .5em;
    }

    #tiers-container {
        display: flex;
        align-items: flex-start;
    }
    .tier-cards {
        flex: 1 1 30%; /* 3 column layout */
    }
}